.heading
{
  font-size: 23px;
  width: 100%;
  margin: 0px;
  box-shadow:5px 5px 5px grey;
}
.note
{
  font-size: 20px;
  color: black;
  font-family: 'Dancing Script', cursive;

  

}
.copy_right_footer {
  position: fixed;
  color: #ffffff;
  bottom: 0;
  width: 100%;
  background-color:rgb(39, 13, 13);
  line-height: 2.5;
  text-align: center;
  font-family: 'Dancing Script', cursive;

}
canvas 
{
  border:5px solid #f1a414d3;
  border-radius:20px;
  box-shadow:10px 10px 10px grey;
}
h3{
    font-family: 'Rubik Moonrocks', cursive;

    font-size: 50px;
}
